<div class="card" style="width: 18rem;">
  <img class="card-img-top" [src]="product.imageUrl" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{product.title}}</h5>
    <p class="card-text">{{product.price| currency}}</p>
  </div>
  <div class="card-footer">
    <button 
      (click)="addToCart(product)" 
      class="btn btn-secondary btn-block"
      *ngIf="getQuantity() <= 0; else currentCart"
    >
      Add to Cart
    </button>
    <ng-template #currentCart>
        <product-quantity [product]="product" [shopping-cart]="shoppingCart"></product-quantity>
    </ng-template>    
  </div>
</div>