<div>
  <h3>My Orders</h3>
  <ul>
    <li *ngFor="let order of myOrders">
      <label>Order Date:</label> {{ order.datePlaced | date }} - {{ order.totalPrice | currency:USD:'symbol'}}<br>
      <table class="table">
          <thead>
            <tr>
              <th>Product</th>
              <th>Quantity</th>
              <th>Price</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of order.items">
              <td>
                <div class="row">
                    <div class="col"><img class="thumbnail" [src]="item.product.imageUrl" alt="image"></div>
                    <div class="col"><label>Name: </label> {{item.product.name}}</div>
                    <div class="col"><label>Unit Price: </label> {{item.product.price | currency:USD:'symbol'}}</div>
                  </div>
              </td>
              <td>{{ item.quantity }}</td>
              <td>{{ item.totalPrice | currency:USD:'symbol' }}</td>
            </tr>
          </tbody>
        </table>
    </li>
  </ul>
  
</div>