<bs-navbar></bs-navbar>
<main role="main" class="container">

  <router-outlet></router-outlet>

  <!-- <app-container-test class="test-area-ignore">
    <h3>More container content</h3>
    <app-content-test>
      <h4>Hello content</h4>
    </app-content-test>
    <app-content-test>
      <h5>Hello content</h5>
    </app-content-test>
    <pane>
      <div>
        <h3>Panening</h3>
      </div>
      <p class="card-text">Pane of the neck</p>
    </pane>
    <div #containerChildren2>
      <h3>child2 stuff</h3>Hello world
      </div>
  </app-container-test>
  <app-content-test-sibling></app-content-test-sibling> -->


</main>
